[x-cloak] {
  display: none !important;
}

.btnUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 78px;
  right: 12px;
  width: 44px;
  height: 44px;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
  /* background-color: rgba(255, 255, 255, 0.5); */
  z-index: 999;

  @media (min-width: 768px) {
    padding: 6px;
  }

    @media (min-width: 1440px) {
    right: 42px;
  }

  &:hover {
    border: 2px solid var(--clr-accent-hover);
    /* background-color: var(--clr-divider); */
  }
}

.icon-btnUp {
  width: 20px;
  height: 20px;
  fill: var(--clr-accent);
  stroke: var(--clr-accent);

  @media (min-width: 768px) {
    width: 34px;
    height: 34px;
    fill: #1877F2;
  stroke: #1877F2;
  }
}

.btnUp:hover {
  fill: #1877F2;
  stroke: #1877F2;
}

