<section
  class="contactUs"
x-data="{show: false, actionsOpen: false}"
@mouseenter.window.once="show=true"
  @scroll.window.once="show=true"
  @touchstart.window.once="show=true"
  @mouseleave.window.once="actionsOpen=false"
x-cloak
  @click.outside="actionsOpen=false; settingsOpen=false;"
  x-show="show"
>
  <button
    class="btn-contact"
    :class="{active: !actionsOpen}"
    @click="actionsOpen=!actionsOpen; settingsOpen=false;"
    :aria-label="$store.locale.current === 'uk'? 'Зв\'язатися з нами' : 'Contact us'"
    :title="$store.locale.current === 'uk'? 'Зв\'язатися з нами' : 'Contact us'"
  >
    <svg x-show="!actionsOpen" width="35" height="30">
      <use xlink:href="/images/sprite.svg#contactsUs">Звя'затися з нами</use>
    </svg>
    <svg x-show="actionsOpen" width="35" height="30">
      <use xlink:href="/images/sprite.svg#x">Звя'затися з нами</use>
    </svg>
    
  </button>
  <div class="actions" x-show="actionsOpen">
    <a x-data="{hovered:false}"
      class="actionsButton"
      @mouseenter="hovered=true"
      @mouseleave="hovered=false"
      href="https://t.me/Nfyz1"
      target="_blank"
      rel="noopener noreferrer"
      @click="actionsOpen=false"
    >
      <svg width="20" height="20">
        <use xlink:href="/images/sprite.svg#telegram"></use>
      </svg>
      <span class="action-label" x-show="hovered" x-text="$store.locale.current === 'uk'? 'Телеграм' : 'Telegram'"></span>
    </a>
    <a
    x-data="{hovered:false}"
      @mouseenter="hovered=true"
      @mouseleave="hovered=false"
      class="actionsButton"
      href="mailto: director@dakk.biz"
      target="_blank"
      rel="noopener noreferrer"
      @click="actionsOpen=false"
    >
      <svg width="24" height="24">
        <use xlink:href="/images/sprite.svg#email"></use>
      </svg>
    <span class="action-label" x-show="hovered" x-text="$store.locale.current === 'uk'? 'Пошта' : 'Email'"></span>
    </a>
  
  </div>
</section>
