<footer class="footer" id="footer">
  <div class="container">
    <a href="/" class="footer-link-logo">
      <img
        src="/images/logoFull.webp"
        alt="Логотип компанії"
        width="120"
        class="footer-logo"
      />
    </a>
    <hr />
    <div class="footer-partner">
      <h3 x-text="t(footerData.partners)">Наші партнери:</h3>
      <div class="partners-track">
        <ul class="footer-partner-list" x-data="partners">
          <template x-for="(item, index) in cards" :key="index">
            <li class="footer-partner-item">
              <img
                :src="item.logo"
                :alt="`Логотип ${item.name}`"
                width="320"
                class="footer-partner-logo"
              />
              <h4 class="namePartners" x-text="item.name"></h4>
            </li>
          </template>
        </ul>
      </div>
    </div>
    <address class="footer-address">
      <div class="contacts">
        <h3 x-text="t(footerData.contacts)">Контакти</h3>
        <dl class="footer-contacts">
          <div class="dlItem">
            <dt x-text="t(footerData.titleAdress)">Наша адреса:</dt>
            <dd x-text="t(footerData.adress)">
              вул. Шевченка, 1, Київ, Україна
            </dd>
          </div>
          <div class="dlItem">
            <dt x-text="t(footerData.phone)">Телефон:</dt>
            <dd><a href="tel:+38093939393">+38(093)-939-393</a></dd>
          </div>
          <div class="dlItem">
            <dt x-text="t(footerData.email)">Пошта:</dt>
            <dd><a href="mailto: lala@gmail.com">lala@gmail.com</a></dd>
          </div>
        </dl>
      </div>
      <div class="footer-social">
        <h3 x-text="t(footerData.social)">Соціальні мережі:</h3>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.facebook.com/"
              :aria-label="t(footerData.facebook)"
              target="_blank"
            >
              <svg class="footer-social-icons">
                <use href="/images/sprite.svg#facebook" />
              </svg>
              <span x-text="t(footerData.facebook)"
                >Наша сторінка на Facebook</span
              >
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/"
              :aria-label="t(footerData.instagram)"
              target="_blank"
            >
              <svg class="footer-social-icons instagram">
                <use href="/images/sprite.svg#instagram" />
              </svg>
              <span x-text="t(footerData.instagram)"
                >Наша сторінка в Instagram</span
              >
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://ua.linkedin.com/"
              :aria-label="t(footerData.linkedIn)"
              target="_blank"
            >
              <svg class="footer-social-icons linkedin">
                <use href="/images/sprite.svg#linkedin" />
              </svg>
              <span x-text="t(footerData.linkedIn)"
                >Наша сторінка в LinkedIn</span
              >
            </a>
          </li>
        </ul>
      </div>
    </address>
    <load src="/src/partials/btnUp.html" />
    <load src="/src/partials/contactUs.html" />
  </div>
</footer>
